<h2>Index</h2>
<ul>
    <li><a href="#installation">Installation</a></li>
    <li><a href="#adding-story-teller-to-your-code">Adding Story Teller to your code</a></li>
    <li><a href="#logging">Adding Logging</a></li>
    <ul>
    <li><a href="#story-teller-keys">Keys</a></li>
    <li><a href="#what-if-the-keys-not-accessible">What if the keys not accessible?</a></li>
    </ul>
    <li><a href="#activating=logs">Activating logs</a></li>
    <ul>
    <li><a href="#general-logging">General logging</a></li>
    <li><a href="#simple-value-criteria">Simple value criteria</a></li>
    <li><a href="#classes-or-protocol-criteria">Classes or Protocol criteria</a></li>
    <li><a href="#kvc-property-criteria">KVC Property criteria</a></li>
    <li><a href="#runtime-criteria">Runtime criteria</a></li>
    </ul>
    <li><a href="#execution-blocks">Execution blocks</a></li>
    <li><a href="#configuring-logging">Configuring</a></li>
    <ul>
        <li><a href="#on-startup">On startup</a></li>
        <li><a href="#environment-variables">Environment variables</a></li>
        <li><a href="#programmatically">Programmatically</a></li>
        <li><a href="#xcodecolors--logging-templates">XCodeColors &amp; Logging templates</a></li>
    </ul>
    <li><a href="#release-vs-debug">Release vs Debug</a></li>
    <li><a href="#async">Async logging</a></li>
    <li><a href="#performance">Performance</a></li>
    <ul>
    <li><a href="#update---some-bench-marks">Update - some bench marks</a></li>
    </ul>
    <li><a href="#credits">Credits</a></li>
</ul>
