<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Storyteller by drekka</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/github-light.css">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>

        <h1>Story Teller {{ site.storyteller-version }}</h1>
        <p><i>A log should tell a story, not drown the reader in irrelevance.</i></p>

        <p>
        <a href="https://raw.githubusercontent.com/drekka/StoryTeller/master/LICENSE">
            <img src="https://img.shields.io/badge/license-MIT-lightgrey.svg" />
        </a>
        <a href="https://github.com/Carthage/Carthage">
            <img src="https://img.shields.io/badge/Carthage-compatible-4BC51D.svg?style=flat" />
        </a>
        </p>

        <p class="view">
        <a href="https://github.com/drekka/StoryTeller">View on GitHub <small>drekka/StoryTeller</small></a>
        </p>

        {% include toc.html %}
        
      </header>
      <section>

          {{ content }}

      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/drekka">drekka</a></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    
  </body>
</html>
